  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/syedusama70" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/meusama_rehan70/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Syedurehan70" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/syed-usama-4b1274159/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-center">Copyright &copy; Syed Usama Rehan
            <script>document.write(new Date().getFullYear())</script>
           </p>
           <p class="text-center">
             Built with 
             <a href="https://flask.palletsprojects.com/en/2.1.x/" class="framework">Flask</a>
           </p>
        </div>
      </div>
    </div>
  </footer>
</body>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/static/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!--AOS Script-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/nav.js"></script>
<script src="https://kit.fontawesome.com/c339ed87f2.js" crossorigin="anonymous"></script>
<script>
  AOS.init();
</script>


</html>
