@import "_variable.scss";

#services {
    padding: 3% 4%;
    border-top-left-radius: 100% 80px;
    border-bottom-right-radius: 100% 80px;
    background: rgb(64,15,10);
    background: radial-gradient(circle, rgba(64,15,10,1) 0%, rgba(140,54,22,1) 90%, rgba(64,15,10,1) 100%);

    .container-fluid {
        text-align: center;
    }

    .row {
        padding: 55px 0;
    }
    
    h1 {
        font-family: 'Rubik', sans-serif;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 4rem;
        padding: 10px 5px;
        padding-top: 3%;
        color: #fff;
    }

    img {
        padding: 10px 5px;
    }
    h2, p {
        font-family: 'Open Sans', sans-serif;
        color: rgba(255, 255, 255, 0.616);
    }

    h2 {
        padding: 10px 5px;
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        padding: 0 10px;
        font-size: 1rem;
        text-align: justify;
    }

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

}

@media (max-width: 767px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

@media screen and (max-width: 992px) {
    #services {
        .row {
            padding: 20px 0;
        }

        h1 {
            font-size: 3.5rem;
            padding: 0 5px;
        }

        p {
            padding: 0 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    #services {
        .row {
            padding: 30px 0;
        }
        
        h1 {
            font-size: 3rem;
            padding: 0 5px;
        }

        p {
            padding: 0 30px;
        }

    }
}